<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ITSC S.A Web APPs  </title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/vendor/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/vendor/responsive.dataTables.min.css">

  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->


  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="app">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" style="font-size: 14px;" href="#"><%= datos %></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

         <li class="nav-item" ui-sref-active="active" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#bitacora" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Bitácora</span>
          </a>
          <ul class="sidenav-second-level collapse" id="bitacora">
            <li ui-sref-active-parent="active" ui-sref="bitacora_crear">
              <a >Registrar</a>
            </li>
            <li ui-sref-active-parent="active" ui-sref="bitacora_listar">
              <a >Mis bitácoras</a>
            </li>
          </ul>
        </li>


      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" onclick="logout()">
            <i class="fa fa-fw fa-sign-out"></i>Salir</a>
        </li>

        <script>
          function logout() {
            if (confirm("Esta seguro que desea salir?")) {
              window.location.replace(`/logout/`)
            }
          }
        </script>

      </ul>



    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
<script src="/js/EventBus.js"></script>
<script src="/vendor/moment.js"></script>
<script src="/vendor/angular.min.js"></script>
<script src="/vendor/angular-ui-router.min.js"></script>
<script src="/vendor/jquery-3.3.1.slim.min.js" ></script>
<script src="/vendor/popper.min.js" ></script>
<script src="/vendor/bootstrap.min.js" ></script>

<script src="/vendor/jquery.dataTables.min.js"></script>
<script src="/vendor/dataTables.responsive.min.js"></script>
<script src="/js/sb-admin.js"></script>
<script src="/js/app.js"></script>

<script>


</script>
</body>

</html>
