<ol class="breadcrumb">
    <li ui-sref-active="active" class="breadcrumb-item" >
        <a ng-click="cancelar()">Gestiones / Crear Siguiente Gestión</a>
    </li>
</ol>
<div>
    <style>
        .form-group label {
            font-weight: bold;
        }
    </style>
    <form ng-submit="crearGestion(tipo_actividad, fecha_gestion, gestion, next_activity, next_activity_date)">

        <div class="form-group">
            <label class="control-label col-sm-8"> Gestión Actual </label>
            <div class="col-sm-8">
                <input readonly class="form-control" type="text" ng-model="gestion_actual">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Tipo Actividad</label>
            <div class="col-sm-8">
                <select required class="form-control" 
                    ng-model="tipo_actividad"
                    ng-init="actual_tipo"
                    ng-options="ref.key as ref.value for ref in ref_actividad">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Fecha</label>
            <div class="col-sm-8">
                <input required class="form-control" ng-model="fecha_gestion" type="date">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Descripcion</label>
            <div class="col-sm-8">
                <input required class="form-control" type="text" ng-model="gestion">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Siguiente Actividad</label>
            <div class="col-sm-8">
                <select required class="form-control" ng-model="next_activity">
                    <option selected disabled value=""></option>
                    <option ng-repeat="ref in ref_actividad" value="{{ref.key}}">{{ref.value}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Fecha Siguiente Actividad</label>
            <div class="col-sm-8">
                <input required class="form-control" type="date" ng-model="next_activity_date">
            </div>
        </div>

        <div class="form-group col-sm-8">
            <button type="submit" class="btn btn-info">Aceptar</button>
            <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
        </div>
    </form>
</div>